
.clients__list { 
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
  }
  
  .clients__item { 
    width: 210px;
    height: 92px;

    margin-bottom: 30px;
  
    &:nth-child(2n) { 
      margin-left: 30px;
    }
    
  }
  
  .clients__link { 
    @include centeredFlex();
    @include transition(border);
  
    height: 90px;
    border: 1px solid $icon-color;
    border-radius: 4px;
  
    &:hover, &:focus {
      outline: none;
      border: 1px solid rgba(33, 150, 243, 1);
    }
  }
  
  .clients__icon { 
    fill:$icon-color;
  
    @include transition($property:all);
  
    .clients__link:hover &,
    .clients__link:focus  & { 
    fill: $accent;
    }
  }