


.filter { 
    padding-top: 60px;
    padding-bottom: 60px;
}
  
.filter__list { 
    display: flex;

    margin:-10px;
    margin-bottom: 40px;

    @media screen and (max-width:767px) {
        flex-wrap: wrap;
        
    }

    @media screen and (min-width:768px) {
        justify-content: center;
    }


    
    & .filter__btn:hover, 
    & .filter__btn:focus { 

    outline: none;
    background-color: $accent;
    color: $third-text;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.102), 0px 1px 2px rgba(0, 0, 0, 0.078), 
    0px 2px 2px rgba(0, 0, 0, 0.122);
}
}
  

  
// .filter__item:nth-child(n+2) {
//     margin-left: 30px;
// }
  
.filter__item { 
    margin: 10px;
}
  
.filter__btn{
    @include transition($property:all);
    @include font($color:$main-text, $fw:500, $fz:16px, $fh:1.62, $ls:0.03em);

    text-align: center;
  
    cursor:pointer; 
  
    border: 0;
    padding: 6px 22px;
    border-radius: 4px;
  
}
  