.header { 
    border-bottom: 1px solid #ECECEC;
}

.header_container { 
    position: relative;

    display: flex;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width:768px) {

    }
}

// Бургер

.button-menu { 

    @media screen and (min-width:768px) {
        display: none;
    }
    border: none;
    background-color: $main-background;
    cursor: pointer;

    margin-left: auto;
    padding: 0;

    &:hover, &:focus { 
        fill: $accent;
    }

    @include transition ($property:fill);

    & .icon-cross { 
        display: none;
    }

    &.is-open .icon-cross { 
        display: block;
    }

    &.is-open .icon-menu {
        display: none;
    }


}


// Окно с контактами и навигацией

.menu-container { 
  z-index: 2;
  overflow-y: scroll;
  position: fixed;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: 48px 40px;

  background-color: $main-background;

  transform: translateX(100%);

  @include transition($property:transform);

}

.menu-container.is-open { 
    transform: translateX(0);
}

.button-menu-close {
    position: absolute;

    top: 10px;
    right: 15px;
}


// Навигация 

.nav__mobile__list { 
  display: block;
  margin-bottom: 300px;

  // @media screen and (max-width:479px) {
  //   margin-bottom: 200px;
  //   }
}

.nav__mobile__item { 
  margin-bottom: 32px;
}

.nav__mobile__link {
  display: flex;

  @include transition();
  @include font($color:$main-text, $fz:40px, $fw:500, $fh:1.17, $ls:0.02em);

  // @media screen and (max-width:479px) {
  //   @include font($color:$main-text, $fz:30px, $fw:500, $fh:1.17, $ls:0.02em);
  // }

  position: relative;


  &:hover, 
  &:focus { 
  color: $accent; 
  }
}

.contacts__mobile { 
  margin-bottom: 64px;
}

.contacts__mobile__link { 
    @include centeredFlex(inline-flex);
    @include transition();

  
    &:hover, 
    &:focus { 
    color: $accent; 
  }
}

  .contacts__mobile__link-tel { 
    @include font($color:$second-text, $fz:34px, $fw:500, $fh:1.17, $ls:0.02em);

    margin-bottom: 32px;

    // @media screen and (max-width:479px) {
    //   @include font($color:$second-text, $fz:26px, $fw:500, $fh:1.17, $ls:0.02em);

    //   margin-bottom: 20px;
    // }
}

.contacts__mobile__link-mail { 
    @include font($color:$second-text, $fz:28px, $fw:500, $fh:1.17, $ls:0.02em);
}

.header__social__list { 
    display: flex;
    flex-wrap: wrap;
}

.header__social__item {

    position: relative;

    

    // &::after { 
    //     content: '';
    //     width: 1px;
    //     height: 22px;
    //     background-color: blueviolet;

    //     position: absolute;
    //     top: 0;
    //     left: -5px;
    // }

    &:nth-child(n+2) {
        margin-left: 10px;
        padding-left: 5px;
        border-left: 1px solid #212121;
    }
}

.header__social__link { 
    @include font($color:$accent, $fw:500, $fz:18px, $fh:1.2, $ls:0.02em);
}



.menu-wrap { 
    @media screen and (max-width:767px) {
        display: none;
    }
 
    @include centeredFlex(inline-flex);
    @include transition();

    margin-left: 60px;
}

.nav__list { 
    margin-left: auto;
}

  /* полоска под навигацией   */
  .nav__link {

    @include font($color:$main-text, $fz:14px, $fw:500, $fh:1.14, $ls:0.02em);
  
    position: relative;
  
    &:hover, 
    &:focus { 
    color: $accent; 
  }
  }
  
  .current { 
    color: $accent;
  
    &::after {
      content: '';
      display: block;
      position: absolute;
  
      width: 100%;
      height: 4px;
      background-color: $accent;
  
      @media screen and ( min-width:768px) {
        bottom: -28px;
      }

      @media screen and ( min-width:1200px) {
        bottom: -18px;
      }
      
      left: 0;
      border-radius: 2px;
    }
  }
  
  /* --------------------Стилизация навигации------------------- */
  .contacts__link { 
    @include centeredFlex(inline-flex);
    @include transition();
    @include font($color:$second-text, $fz:14px, $fw:500, $fh:1.14, $ls:0.02em);
  
    &:hover, 
    &:focus { 
    color: $accent; 
  }
  }
  
  
  /* Работает, но не нравится */
  
  .nav__list { 
    display: flex;
  
  }
  
  .nav__item:nth-child(n+2) { 
    margin-left: 50px;
  }
  
  
  .contacts { 
    margin-left: 80px;

    @media screen and (min-width:1200px) {
        margin-left: 300px;
    }
  }
  
  .contacts__list { 
      @media screen and (min-width:1200px) {
        display: flex;
      }
 
}
  
.contacts__item{
    @media screen and (min-width:1200px) {
        &:nth-child(n+2) { 
            margin-left: 50px;
        } 
    } 
}
   
  
  .contacts__icon { 
    margin-right: 10px;
    color: $second-text;
  
    .contacts__link:hover &, 
    .contacts__link:focus & { 
    color: $accent; 
  }
  }
  
  .contacts--icon { 
    fill: currentColor;
  }
  